html.iphone, 
html.iphone body { height: 100.1%; }

body {
  overflow: hidden;
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #06070667;
  background-image: radial-gradient(#4d8a8a 0%, #080e13 74%);
}
:root {
    --my-variable-name: #999999;
}



@media screen and (orientation: landscape) {
  .circle {
    background-color: #000;
    width: 80%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    border-radius: 50%;
    overflow: hidden;
  }

  #line-left {
    position: absolute;
    width: 1.5%;
    height: 100%;
    left: 0;
    top: -10%;
    background: rgba(128, 128, 128, 0.37);
    transform: rotate(-0.03turn);
  }

  #line-right {
    position: absolute;
    width: 1.5%;
    height: 100%;
    right: 0;
    top: -10%;
    background: rgba(128, 128, 128, 0.37);
    transform: rotate(0.03turn);
  }

  .notice {
    display: none;
  }
}

@media screen and (orientation: portrait) {

  .notice {
    display: flex;
    color: white;
    text-align: center;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .circle {
    display: none;
    /* background-color: #000;
    width: 100%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    transform-origin: center;
    border-radius: 50%;
    overflow: hidden; */
  }

  #line-left {
    display: none;
  }

  #line-right {
    display: none;
  }
}

.outer_panel {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 50%;
  transform: translate(50%, 25%);
  /* border: solid 1px red; */
}

#button_wrap {
  height: 40%;
  width: 80%;
  margin: 5% auto;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  
}


.outer_button {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  min-width: 60px;
  border-radius: 50%;
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to { opacity: 0.5;}
}

.inside-btn {
  width: 95%;
  margin-left: 3%;
  margin-top: 5px;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border-width: 0px;
  z-index: -10;
}

.blink-btn {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

.inside-btn:after {
  content: "";
  display: block;
  padding-top: 100%;
}